<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <title>Lista de nome e telefones</title>
  </head>
  <body>
    <h1 style="text-align: center">Lista nome e telefones</h1>

    <!-- Tabela para listar os alunos cadastrados -->
    <table style="margin: 0 auto; border: 2px solid">
      <tr>
        <td colspan="2" style="text-align: center">Lista nome e telefones</td>
      </tr>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
      <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.nomeAluno}"></td>
        <td th:text="${aluno.telefoneAluno}"></td>
      </tr>
    </table>
  </body>
</html>
