<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Fatec Web</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sistema Fatec Web</h1>
      <div class="menu-links">
        <a href="/alunos/listar" class="btn">Lista Alunos</a>
        <a href="/alunos/listar-nome-telefone" class="btn"
          >Lista Nome e Telefone</a
        >
        <a href="/cursos/listar" class="btn">Lista Cursos</a>
      </div>
    </div>
  </body>
  <!-- repository/service/controler
  dto/repository/service/controler -->
</html>
